body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.play-layer-wrapper {
  position: relative;
  background-color: #0e2a47;

}

.play-layer {
  background-color: #0e2a47;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.sound-wave {
  background-color: #0e2a47;
  width: 100%;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 15px;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  align-items: center;
}

.title {
  line-height: 5px;
}

.title h4 {
  color: #fff;
  font-size: 1.8em;
}

.title h6 {
  color: #D3D3D3;
  font-size: 1.2em;
}
.sound-wave svg {
  display: block;
  max-width: 63rem;
  height: auto;
}

.sound-wave:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40rem;
  z-index: -1;
  top: 0;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(#1389e933, transparent 60%, transparent 100%);
}

.progress-bar {
  height: 10px;
  width: 35%;
  border-radius: 30px;
  border: 2px solid #fff;
  background-color: #fff;
  margin: -2rem auto 6rem;
  display: none;
}

.progress-color {
  background: #1389e9;
  height: 100%;
  width: 0;
  border-radius: 30px;
  transition: width 4s linear;
  display: none;
}

.d-none {
  display: none;
}

@keyframes scale1 {
  0% {
    transform: scaleY(0.6);
  }
  40% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(0.6);
  }
}
.bar-scale1 {
  animation: scale1 0.6s infinite;
  transform-origin: center;
}

@keyframes scale2 {
  0% {
    transform: scaleY(0.5);
  }
  30% {
    transform: scaleY(1.6);
  }
  100% {
    transform: scaleY(0.5);
  }
}
.bar-scale2 {
  animation: scale2 0.6s infinite;
  transform-origin: center;
}

@keyframes scale3 {
  0% {
    transform: scaleY(1.5);
  }
  70% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1.5);
  }
}
.bar-scale3 {
  animation: scale3 0.6s infinite;
  transform-origin: center;
}

.stop-animation {
  animation-duration: 0s;
}

.audio-buttons {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-left: 20px;
}

.play-button svg {
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.65);
  border-radius: 50px;
}

.play-button,
.pause-button {
  width: 46px;
  height: 46px;
}